In [45]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('BankNoteAuthentication.csv')
df.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [44]:
df[ df['class']==1][:5]

     variance  skewness   curtosis  entropy  class
762  -1.39710   3.31910  -1.392700 -1.99480      1
763   0.39012  -0.14279  -0.031994  0.35084      1
764  -1.66770  -7.15350   7.892900  0.96765      1
765  -3.84830 -12.80470  15.682400 -1.28100      1
766  -3.56810  -8.21300  10.083000  0.96765      1

In [47]:
df.shape

(1372, 5)

In [59]:
df.columns[:-1]

Index(['variance', 'skewness', 'curtosis', 'entropy'], dtype='object')

In [62]:
df.sample(n=10)[ df.columns[:-1] ].to_csv('test.csv')

In [64]:
import os
os.listdir()

['.idea',
 '.ipynb_checkpoints',
 'BankNoteAuthentication.csv',
 'BankNote_Authentication.ipynb',
 'classifier.pickle',
 'Docker getting started.txt',
 'Docker.pdf',
 'Dockerfile',
 'flask_api.py',
 'New folder',
 'test.csv',
 '__pycache__']

In [12]:
X = df.iloc[:,:-1]
Y = df['class']
Y#[:-12]

0       0
1       0
2       0
3       0
4       0
       ..
1367    1
1368    1
1369    1
1370    1
1371    1
Name: class, Length: 1372, dtype: int64

In [14]:

from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2, random_state=0)

In [21]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
clf.fit(X_train,y_train)

RandomForestClassifier()

In [27]:
clf

RandomForestClassifier()

In [31]:
y_pred = clf.predict(X_test)

In [32]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
score

0.9854545454545455

In [34]:
# create pickle file using serialization
import pickle 
pickle_out = open("classifier.pickle", "wb")
pickle.dump(clf, pickle_out)
pickle_out.close()

In [41]:
clf.predict( [[3,2,4,1]])

array([0], dtype=int64)

In [42]:
clf.predict( [[-1.39710,3.31910,-1.392700,-1.99480]])

array([1], dtype=int64)

     Now write Flask app.py to deploy using  Docker